body{
    margin:0;
    padding:0;
    font-family: consolas;
    box-sizing:border-box;
}

.container{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
}

.container section{
    min-width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background:#232323;
}

.container section:nth-child(2){
    background:#a93535;
}
.container section:nth-child(3){
    background:#3550a9;
}
.container section:nth-child(4){
    background:#a9a535;
}

.container section .content{
    max-width: 800px;
    padding:40px;
    text-align: center;
}

.container section .content h2{
    font-size: 4em;
    color:white;
}
.container section .content p{
    font-size: 1.3em;
    line-height: 1.4em;
    color:white;
}

@media (max-width:991px){
    .container{
        position: absolute;
        display: flex;
        flex-direction: column;
        height:auto;
        transform: none !important;
    }
    
}